:root {
  --navbar-background: var(--body-background);
  --navbar-focus: rgba(111,16,10, 0.6);
  --navbar-border: var(--body-border);
  --navbar-font-color: var(--body-font-color);
  --navbar-font-focus-color: var(--body-font-focus-color);
  --navbar-font-active-color: #999;
  --navbar-button-color: var(--body-button-color);
  --navbar-button-hover-color: var(--body-button-hover-color);
  --navbar-bouton-focus: rgb(10, 10, 10, 0.1);
}

.navbar {
  margin: 5% 10%;
}

.navbar-default {
  border-radius: 3px;
}

.navbar-header img {
  weight: 120%;
  height: 120%;
}

.navbar-form .btn-default {
  background-color: var(--navbar-button-color);
  border-color: var(--navbar-button-color);
  color: var(--navbar-font-color);
}

.navbar-form .btn-default:hover {
  color: #fff;
  background-color: var(--navbar-button-hover-color);
  border-color: var(--navbar-button-hover-color);
}
.center-block {
  display: none;
}


@media (min-width: 1400px) {
  .center-block {
    margin-top: -7%;
    display: block;
  }
}

@media (min-width: 1900px) {
  .center-block {
    margin-top: -6%;
    display: block;
  }
}

.navbar .dropdown-menu {
  background-color: var(--navbar-background);
}

.navbar .dropdown-menu > li > a {
  color: var(--navbar-font-color);
}

.navbar .dropdown-menu > li > a:hover {
  background-color: var(--navbar-focus);
}

.navbar .dropdown-menu .divider {
  background-color: var(--navbar-border);
}
